<!-- <router-outlet></router-outlet> -->
<div class="form-container">
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="description" class="label">Description :</label>
        <input type="text" id="description" name="description" [(ngModel)]="note.description" class="input-field" required>
      </div>
      <div class="form-group">
        <button type="submit" class="button">Update</button>
        <button (click)="redirectToCreate()" class="button">Create</button>
      </div>
    </form>
  </div>
  